flows_brew2.json
[{"id":"6bea4b22.f6de2c","type":"tab","label":"Mash Temperature","disabled":false,"info":""},{"id":"b2a662aa.2b752","type":"tab","label":"Mash Volume","disabled":false,"info":""},{"id":"cae39ee2.e2c898","type":"tab","label":"Boil Temperature","disabled":false,"info":""},{"id":"2d8e58d.7555ca8","type":"tab","label":"Switches","disabled":false,"info":""},{"id":"1e878673.29136a","type":"tab","label":"Controllers","disabled":false,"info":""},{"id":"7fa64790.3f4f4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#094779","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"brew2","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bde8848e.1d357","type":"ui_tab","z":"","name":"brew2","icon":"dashboard","order":1},{"id":"f6e1ef23.f6f118","type":"ui_group","z":"","name":"Mash","tab":"bde8848e.1d357","order":2,"disp":true,"width":"6","collapse":false},{"id":"9fe30f36.92cc2","type":"ui_group","z":"","name":"Boil","tab":"bde8848e.1d357","order":3,"disp":true,"width":"6","collapse":false},{"id":"37b593e1.a6de04","type":"ui_group","z":"","name":"Switches","tab":"bde8848e.1d357","order":3,"disp":true,"width":"6","collapse":false},{"id":"a7905064.3b1318","type":"sensor-ds18b20","z":"6bea4b22.f6de2c","name":"Temperature Sensor 1","sensorid":"28-000007c0cb12","timer":"1","repeat":true,"x":120,"y":180,"wires":[["851e8fea.7c732"]],"outputLabels":["temp"]},{"id":"c82c872f.8f363","type":"sensor-ds18b20","z":"6bea4b22.f6de2c","name":"Temperature Sensor 2","sensorid":"28-0000062eb892","timer":"1","repeat":true,"x":120,"y":40,"wires":[["1a5a1cbf.d34a9b"]]},{"id":"1a5a1cbf.d34a9b","type":"smooth","z":"6bea4b22.f6de2c","name":"","property":"payload","action":"mean","count":"5","round":"2","mult":"single","x":120,"y":80,"wires":[["f3b093f2.ffefe"]]},{"id":"851e8fea.7c732","type":"smooth","z":"6bea4b22.f6de2c","name":"","property":"payload","action":"mean","count":"5","round":"2","mult":"single","x":120,"y":220,"wires":[["479e281.f24e4d8"]]},{"id":"479e281.f24e4d8","type":"ui_text","z":"6bea4b22.f6de2c","group":"f6e1ef23.f6f118","order":3,"width":"0","height":"0","name":"RIMS temperature display","label":"Heater","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":210,"y":260,"wires":[]},{"id":"f3b093f2.ffefe","type":"ui_text","z":"6bea4b22.f6de2c","group":"f6e1ef23.f6f118","order":2,"width":"0","height":"0","name":"MLT temperature display","label":"Mash Lauter Tun","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":210,"y":120,"wires":[]},{"id":"ae707b80.b78c4","type":"ui_numeric","z":"6bea4b22.f6de2c","name":"Mash target temperature","label":"Target (°C)","group":"f6e1ef23.f6f118","order":1,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value | number:2}}","min":0,"max":"100","step":"0.10","x":130,"y":320,"wires":[[]]},{"id":"7fa5d2fb.efeb04","type":"ui_text","z":"cae39ee2.e2c898","group":"9fe30f36.92cc2","order":1,"width":"0","height":"0","name":"BK temperature display","label":"Boil Kettle","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":210,"y":120,"wires":[]},{"id":"ba5b776f.cbd1c8","type":"smooth","z":"cae39ee2.e2c898","name":"","property":"payload","action":"mean","count":"5","round":"2","mult":"single","x":120,"y":80,"wires":[["7fa5d2fb.efeb04"]]},{"id":"3516d1c2.6cbd6e","type":"sensor-ds18b20","z":"cae39ee2.e2c898","name":"Temperature Sensor 3","sensorid":"28-0000062eaf09","timer":"1","repeat":true,"x":120,"y":40,"wires":[["ba5b776f.cbd1c8"]]},{"id":"bd7e82ed.96139","type":"ui_switch","z":"2d8e58d.7555ca8","name":"","label":"Pump 1","group":"37b593e1.a6de04","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":60,"wires":[["32fe6811.8055a8"]]},{"id":"7c74cc94.616994","type":"ui_text","z":"b2a662aa.2b752","group":"f6e1ef23.f6f118","order":6,"width":"0","height":"0","name":"Mash WC display","label":"Water column","format":"{{msg.payload}} cmH₂O","layout":"row-spread","x":530,"y":200,"wires":[]},{"id":"59ad46d5.3e9648","type":"widgetlords-analog-in","z":"b2a662aa.2b752","name":"Mash Volume Raw","channel":"0","chipenable":"0","interval":"1000","x":110,"y":40,"wires":[["a4e3eea3.f3eb5"]]},{"id":"a4e3eea3.f3eb5","type":"range","z":"b2a662aa.2b752","minin":"0","maxin":"4096","minout":"0","maxout":"61.2","action":"scale","round":false,"property":"payload","name":"cmH₂O","x":120,"y":80,"wires":[["d9cde29d.b507b8"]]},{"id":"d9cde29d.b507b8","type":"smooth","z":"b2a662aa.2b752","name":"","property":"payload","action":"mean","count":"5","round":"2","mult":"single","x":160,"y":120,"wires":[["19f82bf2.0c68e4"]]},{"id":"25e729a4.95b7fe","type":"function","z":"b2a662aa.2b752","name":"Volume conversion","func":"msg.payload = 1.89 + (msg.payload * 21.5 * 21.5 * 3.141526 / 1000);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["303cf1e8.cf7276"]]},{"id":"9bc8c2a5.7262b8","type":"ui_text","z":"b2a662aa.2b752","group":"f6e1ef23.f6f118","order":7,"width":"0","height":"0","name":"Mash volume display","label":"Volume","format":"{{msg.payload}} litres H₂O","layout":"row-spread","x":360,"y":280,"wires":[]},{"id":"19f82bf2.0c68e4","type":"function","z":"b2a662aa.2b752","name":"WC calibration","func":"msg.payload = -11.182129 + 1.392048*msg.payload \nreturn msg;","outputs":1,"noerr":0,"x":220,"y":160,"wires":[["25e729a4.95b7fe","3e846362.c9e264"]]},{"id":"303cf1e8.cf7276","type":"function","z":"b2a662aa.2b752","name":"Minimum volume","func":"if(msg.payload <= 12.00){\n    msg.payload = \"< 12.00\"\n} else {\n    msg.payload = String.format(\"%.02f\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["9bc8c2a5.7262b8"]]},{"id":"3e846362.c9e264","type":"function","z":"b2a662aa.2b752","name":"Minimum WC","func":"if(msg.payload <= 5.0){\n    msg.payload = \"< 5.0\"\n} else {\n    msg.payload = String.format(\"%.01f\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["7c74cc94.616994"]]},{"id":"32fe6811.8055a8","type":"rpi-gpio out","z":"2d8e58d.7555ca8","name":"Pump GPIO","pin":"11","set":true,"level":"0","freq":"1","out":"out","x":130,"y":120,"wires":[]},{"id":"edae7e12.24bc9","type":"rpi-gpio out","z":"1e878673.29136a","name":"BK GPIO","pin":"13","set":false,"level":"0","freq":"1","out":"pwm","x":420,"y":60,"wires":[]},{"id":"5aaeec9f.dcbbec","type":"ui_numeric","z":"1e878673.29136a","name":"Element duty","label":"Element duty (%)","group":"9fe30f36.92cc2","order":4,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value | number:2}}","min":0,"max":"100","step":"1","x":250,"y":100,"wires":[["3580642c.0cc64c","edae7e12.24bc9"]]},{"id":"3580642c.0cc64c","type":"range","z":"1e878673.29136a","minin":"0","maxin":"100","minout":"0","maxout":"5.5","action":"scale","round":false,"property":"payload","name":"Duty to watts","x":430,"y":140,"wires":[["6652627b.9ad19c"]]},{"id":"6652627b.9ad19c","type":"ui_text","z":"1e878673.29136a","group":"9fe30f36.92cc2","order":5,"width":0,"height":0,"name":"Element output","label":"Element output","format":"{{msg.payload | number:2}} KW","layout":"row-spread","x":480,"y":180,"wires":[]},{"id":"401d395e.6fef18","type":"rpi-gpio out","z":"1e878673.29136a","name":"RIMS GPIO","pin":"15","set":false,"level":"0","freq":"1","out":"pwm","x":430,"y":320,"wires":[]},{"id":"50ba86b7.39082","type":"ui_numeric","z":"1e878673.29136a","name":"Element duty","label":"Element duty (%)","group":"f6e1ef23.f6f118","order":4,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value | number:2}}","min":0,"max":"100","step":"1","x":250,"y":360,"wires":[["5127e58b.f5f0dc","401d395e.6fef18"]]},{"id":"5127e58b.f5f0dc","type":"range","z":"1e878673.29136a","minin":"0","maxin":"100","minout":"0","maxout":"5.5","action":"scale","round":false,"property":"payload","name":"Duty to watts","x":430,"y":400,"wires":[["6dd7ecaf.a513ec"]]},{"id":"6dd7ecaf.a513ec","type":"ui_text","z":"1e878673.29136a","group":"f6e1ef23.f6f118","order":5,"width":0,"height":0,"name":"Element output","label":"Element output","format":"{{msg.payload | number:2}} KW","layout":"row-spread","x":480,"y":440,"wires":[]},{"id":"827c29cc.ffb878","type":"inject","z":"1e878673.29136a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":360,"wires":[["50ba86b7.39082"]]},{"id":"10f77280.873376","type":"inject","z":"1e878673.29136a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["5aaeec9f.dcbbec"]]}]